* {
  font-family: 'Alata', sans-serif;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  opacity: 100%;

}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}

.hero-wrapper figure {
  margin: 0;
  position: relative;
}
.hero-wrapper figure h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-right: 3px solid #fff;
  padding: 5px 10px 5px 5px;
}

.hero-wrapper video {
  width: 100%;
  max-width: 100%;
}

.stretch {
  height: auto;
  background: #000000;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  margin-top: 800px;
  opacity: 90%;
}
.stretch h1 {
  padding: 20px;
}


table {
  width: 70%;
  margin-left:auto;
    margin-right:auto;
}

th {
  font-size: 28px;
  font-weight: bold;
  margin-bottom:40px;
  text-align: center;
}

td

{font-size: 22px;
text-align:center;}

.home img{
  width: 50px;
  position: fixed;
  margin-left: 950px;

}
